<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>방명록 목록</title>
	<style>
		body {
			background-color: #f1f3f4;
			color: #333;
			padding: 2rem;
		}
		section {
			width: 80%;
			max-width: 700px;
			margin: 0 auto;
		}
		section h2 {
			text-align: center;
			background-color: #4a6ade;
			color: #fff;
			padding: .8rem;
		}
		article {
			display: flex; 
			align-items: center; 
			border-radius: .2rem;
			background-color: #fff;
			word-break: break-all;
			margin-bottom: .4rem;
			padding: 0 1rem;
		}
		article h3 {
			flex: 1; 
			text-align: center;
			color: #4a6ade;
		}
		article p {
			font-size: .6rem;
			color: #9b9b9b;
			margin: 0;
		}
		article ul {
			flex: 3;
			list-style: none;
			padding-left: 1.4rem;
		}
		article li:first-child {
			font-size: .9rem;
			text-align: right;
			letter-spacing: -0.4px;
			margin-bottom: 0.4rem;
		}
		article li.comment {
			border: 1px solid #ddd;
			line-height: 1.4;
			border-radius: 0.2rem;
			background-color: #e5e8ed4d;
			padding: 0.4rem;
			margin-bottom: 0.4rem;
		}
		.btnWrap {
			text-align: right;
		}
		button {
			font-size: .7rem;
			border: 1px solid #ddd;
			border-radius: 0.2rem;
			padding: .1rem .4rem;
		}
		.writeBtn {
			font-size: .8rem;
			color: #4a6ade;
			background-color: #edf0fc;
			margin-bottom: .4rem;
		}
		.deleteBtn {
			background-color: #faecec;
			color: #cf4e49
		}
	</style>
</head>
<body>
	<section>
		<h2>방명록 목록</h2>
		<div class="btnWrap">
			<button class="writeBtn" onclick="location.href='/write'">글 쓰러 가기</button>
		</div>
		<% arr.forEach(data => { %>
			<article>
				<div>
					<h3><%= data.name %></h3>
					<p>[<%=data._id.toString()%>]</p>
				</div>
				<ul>
					<li>방문 일자: <%= data.date.toLocaleString() ?? '-' %></li>
					<li class="comment"><%= data.comment ?? '-' %></li>
					<li class="btnWrap">
						<button class="updateBtn" onclick="location.href='/update?id=<%= data._id.toString()%>'">수정하기</button> 
						<button class="deleteBtn" onclick="location.href='/delete?id=<%= data._id.toString()%>'">삭제하기</button></li>
				</ul>
			</article>
		<% }); %>
	</section>
</body>
</html>