<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HOME | #일상</title>
	<link rel="icon" type="image/svg" href="/images/favicon.svg"/>
	<link rel="stylesheet" href="/css/common/normalize.css">
	<link rel="stylesheet" href="/css/common/default.css">
	<link rel="stylesheet" href="/css/article/article.css">
	<link rel="stylesheet" href="/css/common/header.css">
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>
	<%- include("../common/header.ejs") %> 
	<main>
		<div id="view">
			<div>
				<article class="postcontainer card col">
					<div class="writerInfo row">
						<img src="<%= found.writerImage %>" alt="<%= found.writerId %> image" class="userProfileImg" onerror="this.src='/images/user/userProfile.png'">
						<div>
							<p class="writerId">
								<span>@<%= found.writerId %></span>
								<% if(found.type == 'private') {%> 
									<span class="isPraivate"><i class="fi fi-rr-eye-crossed"></i></span>
								<% } %> 
							</p>
							<p class="createAt"><span><%= found.createAt.toLocaleString() %></span></p>
						</div>
					</div>
					<div class="content">
						<div class="message"><%= found.post %></div>
						<%if(found.attachs[0]) { %>
							<div class="imageContainer">
								<div style="padding-bottom: 200px;"></div>
								<div class="imageWrap row">
									<% found.attachs.forEach(elm => { %> 
										<div class="img" style="background-image: url('<%= elm %>');">
										<img src="<%= elm %>" alt=""></div>
									<% }) %> 
								</div>
							</div>
						<%}%>
					</div>
					<div class="commentWrap">
						<div class="responseArea">
							<div>
								<span>댓글</span> <span class="cnt"><%= found.comments.length %></span>
							</div>
						</div>
						<div class="commentWriteArea row">
							<div>
								<img src="<%=user.image %>" alt="user profile image" class="userProfileImg" onerror="this.src='/images/user/userProfile.png'">
							</div>
							<div class="grow1">
									<textarea name="commentWrite" class="commentWrite" placeholder="댓글을 입력하세요"></textarea>
							</div>
							<div>
								<button data-targetid="<%= found._id.toString() %>" onclick="sendAddReq(event);">send</button>
							</div>
						</div>
						<div class="commentsList">
							<% found.comments.forEach(elm => { %> 
								<div class="row">
									<div>
										<img src="<%= elm.commneterImage %> " alt="<%= elm.commenterId %> image" class="userProfileImg">
										<p><%= elm.commenterId %></p>
									</div>
									<div>
										<div><%= elm.commnetMessage %></div>
										<p class="createAt"><%= elm.createdAt.toLocaleString() %> </p>
									</div>
								</div>
							<% }) %> 
						</div>
					</div>
				</article>
			</div>
		</div>
	</main>
	<script>
		userInfoLink();
		// imageContainerVisible();
		
		function preview(evt) {
			document.querySelector(".previewWrap").innerHTML ="";
			if (evt.target.files) {
				for (let i = 0; i < evt.target.files.length; i++) {
					let reader = new FileReader();
					reader.readAsDataURL(evt.target.files[i]);
					reader.onload = function(rst){
						const img = document.createElement("img");
						img.src = rst.target.result;
						document.querySelector(".previewWrap").appendChild(img);
					}
				}
			}
		}
		function userInfoLink() {
			let userInfoLink = document.querySelector('.headerRight');
			let html = `
				<div class="userInfoLink row" onclick="location.href='/user'">
					<div>
						<p class="userId">@<%= user.id %></p>
					</div>
					<img src="<%=user.image %>" alt="user profile image" class="userProfileImg" onerror="this.src='/images/user/userProfile.png'">
					</div>`
			userInfoLink.innerHTML = html;
		}
		
		async function sendAddReq(evt) {
			let targetId = evt.target.dataset.targetid;
			let message = document.querySelector('.commentWrite').value;
			console.log(targetId, message);
			const data = { targetId, message}
			let response = await fetch('/api/comment', {
				method: 'post',
				body: JSON.stringify(data),
				headers: {"Content-type" : "application/json"}
			})
			let result = await response.json();
			if(result.success) {
				let comment = result.comment;
				let lastComment = comment.reverse()[0];
				document.querySelector('.cnt').innerHTML = comment.length;
				let html = `
					<div class="row">
						<div>
							<img src="${lastComment.commneterImage}" alt="${lastComment.commenterId} image" class="userProfileImg">
							<p>${lastComment.commenterId}</p>
						</div>
						<div>
							<div>${lastComment.commnetMessage}</div>
							<p class="createAt">${lastComment.createdAt.toLocaleString()}</p>
						</div>
					</div>
				`
				document.querySelector('.commentsList').insertAdjacentHTML(
					'beforeend', html
				);
			}
		}
	</script>
</body>
</html>